:root {
  --heightControlsBtns: 40px;
  --borderRadius: 4px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: var(--space-s);
  border-radius: 5px;
  background-color: var(--backgroundColorWrapper);
}

.controls > .buttons {
  flex: 1 1;
  justify-content: flex-start;
  align-items: center;
}

.controls > .search {
  width: 40%;
}

.btnBackgound {
  background-image: url('../../images/controls--btn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--gray);
  width: var(--heightControlsBtns);
  height: var(--heightControlsBtns);
  border-radius: var(--borderRadius);
  transition: ease all 0.4s;

  position: relative;
}

.tooltip,
.tooltipVoicebtn {
  visibility: hidden;
  width: 120px;
  background-color: var(--backgroundColorTooltip);
  color: var(--whiteText);
  text-align: center;
  font-weight: bold;
  border-radius: var(--borderRadius);
  padding: var(--space-xs) var(--space-s);
  position: absolute;
  z-index: 1;
  top: 130%;
  margin-left: -60px;
}

.tooltipVoicebtn::after,
.tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--borderColor) transparent;
}
.btnBackgound:hover {
  background-color: var(--btnImage);
}
.btnBackgound:hover .tooltip {
  visibility: visible;
}

.btnBackgoundImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-image: url('../../images/icon_refresh.svg');

  width: 17px;
  height: 17px;
}

.btnBackgoundImgActive {
  animation: rotateRefresh 0.5s linear infinite;
}

.selectLanguage {
  background-color: var(--gray);
  border: 0;
  height: var(--heightControlsBtns);
  padding: var(--space-xxs) var(--space-s);
  margin: 0 var(--space-m);
  border-radius: var(--borderRadius);
  cursor: pointer;
}

.option {
  font-weight: bold;
  font-size: var(--font-size-m);
}

input[type='radio'] {
  display: none;
}

.btnsTemp {
  height: var(--heightControlsBtns);
  display: flex;
}

.label {
  color: var(--textColor);
  height: var(--heightControlsBtns);
  padding: 0 var(--space-s);
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease all 0.4s;
}

.label.celsius {
  border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.label.fahrenheit {
  border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

input[type='radio']:checked + .label {
  font-weight: bold;
  background-color: var(--mainColorActive);
  border-bottom: 1px solid var(--mainColor);
}

.label:hover,
input[type='radio']:checked + .label:hover {
  background-color: var(--mainColor);
}

.btnVoice {
  background-color: var(--gray);
  width: var(--heightControlsBtns);
  height: var(--heightControlsBtns);
  border-radius: var(--borderRadius);
  transition: ease all 0.4s;
  position: relative;
  margin-left: var(--space-m);
}

.btnVoiceActive {
  background-color: var(--mainColor);
}

.btnVoice:active {
  background-color: var(--mainColor);
  transform: translateY(2px);
}

.btnVoice:hover .tooltipVoicebtn {
  visibility: visible;
}

.btnVoiceImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-image: url('../../images/icon_microphone.svg');

  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 720px) {
  .selectLanguage {
    margin: 0 var(--space-xs);
  }
}
