:root {
  --mainColor: #0d6148;
  --mainColorActive: #009063;
  --mainButton: #4b4b4b;
  --fnButton: #1b1b1b;
  --textColor: #2d2d2d;
  --gray: #dddddd;
  --borderColor: #000000;
  --backgroundColor: #f5f5f5;
}
