:root {
  --mainColor: #00b7ff;
  --mainColorActive: #74cef0;
  --backgroundColorWrapper: rgba(0, 0, 0, 0.5);
  --backgroundColorTooltip: rgba(0, 0, 0, 0.8);
  --btnImage: #178000;
  --textColor: #2d2d2d;
  --whiteText: #fff;
  --inputBackground: rgba(76, 82, 85, 0.4);
  --inputPlaceholder: rgba(207, 207, 207, 0.8);
  --gray: #dddddd;
  --borderColor: #000000;
  --backgroundColor: #f5f5f5;
}
